<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasySaveLib.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EasySaveLib.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EasySaveLib.Settings.Settings>
            <setting name="numberJob" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="dataStorageFolder" serializeAs="String">
                <value>./data/</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>english</value>
            </setting>
            <setting name="logJson" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logXml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pathCryptoSoft" serializeAs="String">
                <value>./ext/CryptoSoft.exe</value>
            </setting>
            <setting name="softwareStop" serializeAs="String">
                <value>notepad;calc</value>
            </setting>
            <setting name="PriorityExtensions" serializeAs="String">
                <value>.txt;.rar</value>
            </setting>
        </EasySaveLib.Settings.Settings>
        <EasySaveLib.Settings>
            <setting name="numberJob" serializeAs="String">
                <value>5</value>
            </setting>
        </EasySaveLib.Settings>
    </userSettings>
</configuration>